<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <nav>
        <ul>
          <a class="selected" href="home.html"><li>Home</li></a>
          <a href="hobbies.html"><li>Hobbies</li></a>
          <a href="projects.html"><li>Projects</li></a>
        </ul>
        <img
          class="brain-icon"
          src="../resources/img/brain.svg"
          alt="brain icon"
        />
      </nav>
      <main class="home-main">
        <h1>Leah Tiktin</h1>
        <img src="../resources/portrait.png" alt="" />
        <p>
          I am a freshman at University of Colorado Boulder studying computer
          science. My interests include web development, data, and neuroscience
        </p>
        <button><a href="./resume.html" download="./resume">Resume</a></button>
      </main>
      <footer>
        <ul>
          <a href=""> <li>Linkedin</li> </a
          ><a href=""> <li>github</li> </a
          ><a href="">
            <li>Personal Website</li>
          </a>
        </ul>
      </footer>
    </div>
  </body>
</html>
