<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <div class="container">
      <nav>
        <ul>
          <a href="home.html"><li>Home</li></a>
          <a href="hobbies.html"><li>Hobbies</li></a>
          <a class="selected" href="projects.html"><li>Projects</li></a>
        </ul>
        <img
          class="brain-icon"
          src="../resources/img/brain.svg"
          alt="brain icon"
        />
      </nav>
      <main class="projects">
        <div class="card">
          <a href="https://leah205.github.io/minmax-tic-tac-toe/">
            <h2>Unbeatable Tic-Tac-Toe</h2>
          </a>
          <img src="../resources/tic_tac_toe.png" alt="tic tac toe" />
        </div>
        <div class="card">
          <a href="https://leah205.github.io/battleship/">
            <h2>Battleship</h2>
          </a>
          <img src="../resources/battleship.png" alt="battleship" />
        </div>
        <div class="card">
          <a href="https://jocular-chaja-a0c817.netlify.app/">
            <h2>CV Application Generator</h2>
          </a>
          <img src="../resources/cv_application.png" alt="cv application" />
        </div>
      </main>
      <footer>
        <ul>
          <a href=""> <li>Linkedin</li> </a
          ><a href=""> <li>github</li> </a
          ><a href="">
            <li>Personal Website</li>
          </a>
        </ul>
      </footer>
    </div>
  </body>
</html>
