<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <div class="container">
      <nav>
        <ul>
          <a href="home.html"><li>Home</li></a>
          <a class="selected" href="hobbies.html"><li>Hobbies</li></a>
          <a href="projects.html"><li>Projects</li></a>
        </ul>
        <img
          class="brain-icon"
          src="../resources/img/brain.svg"
          alt="brain icon"
        />
      </nav>
      <div class="resume">
        <div class="header">
          <h1>Leah Tiktin</h1>
          <h2>leahtiktin@gmail.com</h2>
          <h2>305-282-8922</h2>
          <h2>570 S Poplar Way</h2>
        </div>
        <hr />
        <div class="description">
          <p>
            I am a hardworking and curious student with a passion for
            technology, math, and science. I am looking to work in a
            collaborative environment where I can learn and contribute to my
            community. I have experience with data analysis and web development.
          </p>
        </div>
        <hr />
        <div class="education">
          <div class="top">
            <h2>University of Colorado Boulder, BS Computer Science</h2>
            <p>August 2024 - present</p>
          </div>
          <p class="bottom">GPA:3.98</p>
        </div>
        <hr />
        <div class="experience">
          <div class="job">
            <h2>Data analysis intern</h2>
            <h3>Denver Public Schools</h3>
            <p>2022</p>
            <ul>
              <li>
                Manipulated approximately 1,000,000 records of testing data and
                compiled them into graphs evaluating student performance across
                subject areas over several years
              </li>
              <li>
                Developed strategies for analyzing how students’ math and
                reading competencies have been impacted by the covid-19 pandemic
                with an emphasis on economic and ethnic disparities
              </li>
              <li>
                Compiled and presented slideshows for district officials,
                including the superintendent, so that they could determine
                optimal resource allocation
              </li>
            </ul>
          </div>

          <div class="job">
            <h2>Tennis Coach</h2>
            <h3>Denver tennis Park</h3>
            <p>2023</p>
            <ul>
              <li>
                Instructed children new to tennis on the fundamentals of the
                sport and prepared them for competitive match play
              </li>
              <li>
                Planned engaging lessons that facilitated a passion and good
                relationship with the sport
              </li>
            </ul>
          </div>
        </div>
      </div>
      <footer>
        <ul>
          <a href="https://www.linkedin.com/in/leah-tiktin-a8355a244/">
            <li>Linkedin</li> </a
          ><a href="https://www.github.com/leah205"> <li>github</li> </a
          ><a href="https://leah205.github.io/homepage/">
            <li>Personal Website</li>
          </a>
        </ul>
      </footer>
    </div>
  </body>
</html>
